body {
    background-color: #212121 !important;
    color: #1ED760 !important;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 0.9em;
}

a, a:hover {
    text-decoration: none !important;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.8;
}

.central-box a, .central-box a:hover {
    color: white !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.stalk-title {
    font-size: 3em;
    padding: 0 0 0 10px;
}

.contform {
    margin: 5px 0 0 0;
}

.menu-icon {
    width: 40px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.menu-icon:hover {
    filter: brightness(1.4);
    -webkit-filter: brightness(1.4);
}


.bg-view {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/bg-header.jpg");
    background-size: cover;
    height: 100vh;
}

.app-wrap {
    height: inherit;
}

.view-wrap {

}

.nav-bar {
    background-color: #0f0f0f !important;
    border-bottom: 1px solid #1ED760;
}

.menu-view {
    background-color: #191414;
    border-bottom: 1px solid #1ED760;
}

.menu-view a {
    color: white !important;
}

#menu-this {
    display: flex;
}

.menu-item {
    padding: 15px 0 15px 0;
    border-width: 0 1px 0 1px;
    border-color: #cdd2d6;
    color: #a8a6aa;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #1aaa50;
    color: white;
}

.anim-fi {
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.central-box {
    position: relative;
    bottom: 30px;
    color: white;
    height: 30vh;
    width: auto;
    margin: 0 auto;
}

.abs-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.s-btn {
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #1bb053;
    padding: 8px 35px;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
}

.page-fill {
    min-height: 100vh;
}

.c-did {
    margin: 0 auto;
    display: block;
    padding: 0 5% 0 5%;
}

.l-register {

}
.r-register {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #e1f2dc;
    color: #191414;
}

.text-green {
    color: #1ED760;
}

.text-d-green {
    color: #1bb053;
}

.noverflow {
    overflow: hidden;
}

.reg-peep {
    max-width: 75%;
    padding: 60px 0;
}

.register-wrap {
    height: inherit;
    margin: 0 auto;
}

.login-wrap {
    background-color: #e1f2dc;
    min-height: 100vh;
}

.bg-grad {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1))
}

.btn-hide {
    position: absolute;
    top: 30px;
    right: 40px;
}

.btn-reset {
    border: none;
    cursor: pointer;
    outline: none;
    height: 20px;
    width: 30px;
}

.bg-none {
    background: none;
}

.infoslide {
    min-height: 5em;
    color: white;
    opacity: 0.7;
    width: 70%;
    margin: 10px 0 20px 1em;
}

.bar {
    width: 80%;
    height: 4px;
    background-color: #151515;
    border-radius: 2px;
    margin-bottom: 1em;
    overflow: hidden;
}

.bar-fill {
    background-color: #1ED760;
    height: 4px;
    width: 0%;
    -webkit-transition: width 500ms ease-out 1s;
    -moz-transition: width 500ms ease-out 1s;
    -o-transition: width 500ms ease-out 1s;
    transition: width 500ms ease-out 1s;
}