/*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

h5 {
    margin: 0;
    font-size:0.85em;
    font-weight: 500;
    line-height: 1em;
    text-align: left;
    color: #158e43;
}

h2 {
    margin: 0;
    font-size:1.3em;
    font-weight: 500;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: white;
    opacity: 0.75;
}


h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.xoverflow {
    overflow-x: visible;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.tbl-container th h1 {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: left;
    color: #158e43;
}

.tbl-container td {
    font-weight: normal;
    font-size: 0.85rem;
    /*
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    */
}


.tbl-container {
    text-align: left;
    overflow: scroll;
    min-width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 3em 0;
/*
    -webkit-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    */
}

.tbl-container td {
    padding: 0.8em 0.75em 0.8em 0.5em;
}

.tbl-container th {
    padding: 1em 0.75em 1em 0.5em;
}

/* Background-color of the odd rows */
.tbl-container tr:nth-child(odd) {
    background-color: #1d1d1d;
}

/* Background-color of the even rows */
.tbl-container tr:nth-child(even) {
    background-color: #1e1e1e;
}

.tbl-container th {
    background-color: #151515;
}

.tbl-container td { color: #8f8f8f; }

.tbl-container tr {
    line-height: 21px;
    max-height: 21px;
}
.tbl-container tr:hover {
    background-color: #202020;
}

.tableplay {
    height: 20px;
    width: 20px;
}

.tableindex {
    opacity: 0.5;
}
.podiumstage {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.podium {
    flex: 1;
    display: block;
    padding: 1em 0.5em 1em 0.5em;
}
.podium p {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.6;
    text-transform: uppercase;
}
.cropper {
    display: block;
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.cropper:hover {
    opacity: 0.8;
}

.cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.dtpane {
    background-color: #0f0f0f !important;
    box-shadow: inset 3px 0 0 #1bb053;
}

.dtpane td {
    color: #c4c4c4;
}

.dtpane td div {
    display: inline-block;
}
.dtpane td p {
    margin: 0.3em 0 0.3em 0;
}

.dtpane td img {
    margin-right: 1em;
    border-radius: 4px;
    height: 64px;
    width: 64px;
    vertical-align: unset;
}

.insetgreen {
    box-shadow: inset 3px 0 0 #1bb053;
}


/*

.tbl-container td:first-child:hover {
    background-color: #158e43;
    color: #ffffff;

    box-shadow: #158e43 0 2px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease-in;
}
*/

@media (max-width: 800px) {
    .tbl-container td:nth-child(4),
    .tbl-container th:nth-child(4) { display: none; }
}

@media (max-width: 500px) {
    .tbl-container td:nth-child(3),
    .tbl-container th:nth-child(3) { display: none; }
}