<view ng-controller="TopSongs">
    <h2>Top Tracks - {{timeRange | rangeToStr}}</h2>
    <div class="podiumstage">
        <div class="podium" ng-repeat="song in songs | limitTo: 3">
            <div class="cropper" style="border-radius: 5%">
                <a href="{{song.external_urls.spotify}}">
                    <img src="{{song.album.images[1].url}}">
                </a>
            </div>
            <p>{{song.name}}</p>
        </div>
    </div>
    <div class="infoslide">
        <p>You're {{hipster | number:1}}% hipster based on your {{timeRange | rangeToStr | lowercase}} favorite songs.</p>
        <div class="bar">
            <div class="bar-fill" style="background-color: #1a93de; width: {{hipster}}%"></div>
        </div>
        <p>Energy</p>
        <div class="bar">
            <div class="bar-fill" style="width: {{energy}}%"></div>
        </div>
        <p>Dance</p>
        <div class="bar">
            <div class="bar-fill" style="width: {{dance}}%"></div>
        </div>
        <p>Instrumentalness</p>
        <div class="bar">
            <div class="bar-fill" style="width: {{instrument}}%"></div>
        </div>
        <p>Valence</p>
        <div class="bar">
            <div class="bar-fill" style="width: {{valence}}%"></div>
        </div>
    </div>
    <div class="table-header">
        <h2>Top 20</h2>
        <table class="tbl-ranger">
            <tr>
                <td><a href="http://stalkify.me/songable.php#!/topsongs/long_term"><p>Long</p></a></td>
                <td><a href="http://stalkify.me/songable.php#!/topsongs/medium_term"><p>Medium</p></a></td>
                <td><a href="http://stalkify.me/songable.php#!/topsongs/short_term"><p>Short</p></a></td>
            </tr>
        </table>
    </div>
    <table class="tbl-container">
        <thead>
        <tr>
            <th></th>
            <th><h5>
                Song
            </h5></th>
            <th></th>
            <th><h5>
                Album
            </h5></th>
            <th><h5>Artist</h5></th>
            <th><h5>Duration</h5></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="song in songs" name="{{song.id}}" ng-click="openDetails($index)" ng-class="{'insetgreen' : open == $index}">
            <td class="tableindex">{{open == $index ? '' : $index + 1}}</td>
            <td>{{song.name}}</td>
            <td><a href={{song.external_urls.spotify}} target="_#"><img class="tableplay" src="assets/img/playicon.png"></a></td>
            <td>{{song.album.name}}</td>
            <td><span ng-repeat="artist in song.artists">{{artist.name}} {{$last ? '' : ', '}}</span></td>
            <td>{{song.duration_ms | songTime}}</td>
        </tr>
        <tr ng-repeat-end ng-if="open == $index" class="dtpane">
            <td></td>
            <td colspan="6">
                <img ng-src="{{song.album.images[2].url}}">
                <div>
                    <p>Energy: {{features[$index].energy * 100 | number:2}}%</p>
                    <p>Dance: {{features[$index].danceability * 100 | number:2}}% - Tempo: {{features[$index].tempo | number:0}}</p>
                    <p>Popularity: {{song.popularity}} {{song.explicit ? ' - Explicit' : ''}}</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</view>