<view ng-controller="TopSongs">
    <h2>Top Tracks</h2>
    <div class="podiumstage">
        <div class="podium" ng-repeat="song in songs | limitTo: 3">
            <div class="cropper" style="border-radius: 5%">
                <a href="{{song.external_urls.spotify}}">
                    <img src="{{song.album.images[1].url}}">
                </a>
            </div>
            <p>{{song.name}}</p>
        </div>
    </div>
    <table class="tbl-container">
        <thead>
        <tr>
            <th></th>
            <th><h5>
                Song
            </h5></th>
            <th></th>
            <th><h5>
                Album
            </h5></th>
            <th><h5>Artist</h5></th>
            <th><h5>Duration</h5></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="song in songs" name="{{song.id}}" ng-click="openDetails($index)" ng-class="{'insetgreen' : open == $index}">
            <td class="tableindex">{{open == $index ? '' : $index + 1}}</td>
            <td>{{song.name}}</td>
            <td><a href={{song.external_urls.spotify}} target="_#"><img class="tableplay" src="assets/img/playicon.png"></a></td>
            <td>{{song.album.name}}</td>
            <td><span ng-repeat="artist in song.artists">{{artist.name}} {{$last ? '' : ', '}}</span></td>
            <td>{{song.duration_ms | songTime}}</td>
        </tr>
        <tr ng-repeat-end ng-if="open == $index" class="dtpane">
            <td></td>
            <td colspan="6"><img ng-src="{{song.album.images[2].url}}"> Popularity: {{song.popularity}} {{song.explicit ? ' - Explicit' : ''}}</td>
        </tr>
        </tbody>
    </table>
</view>